body {
  margin: 0;
  background-color: #E7D1B5;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  font-size: 20px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.himg {
  width: 300px;
  height: 300px;
}
.skillsimg {
  width: 250px;
  height: 250px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: whitesmoke;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
  font-size: 20px;
}
.div1 {
  padding: 15px;
}
.flexContainer {
  display: flex;
  justify-content: center;
}
.img1 {
  width: 300px;
  height: 335px;
}
h1, h3, h4 {
  text-align: center;
  padding: 5px;
  font-size: 30px;
}
.workGrid {
  display: grid;
}
p {
  font-size: 18px;
}
.myWork {
  text-align: center;
}





/* stopped at step 5 part 4 
  
  WORKED AS A GRID INCASE I BREAK SOMETHING
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  margin: 0;                                    */




/* New code :) */

/* Test Test */